# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# extra
/Extra

# pwa
fallback-development.js
sw.js
sw.js.map
workbox-eac1af49.js
workbox-eac1af49.js.map