.theOuter
{
  position:relative ;
  text-align:right ;
  width:100% ;
  height:400px ;
}

.theCanvas 
{
  overflow:hidden ;
  background:none!important ;
  width:100% ;
  height:400px ;
}

.theIframe 
{
  height:400px!important ;
}