/* Navbar */
.navToggle 
{
  color: transparent !important ;
  border-style: none ;
}

.navImg
{
  width: 275px ;
}

.navLink 
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 1em ;
  color: rgb(40,45,60) !important ;
  text-align: right ;
  padding: 0.5rem ;
  padding-right: 1rem !important ;

  transition: all ;
  transition-duration: 300ms ;
  transition-timing-function: ease ;
}

.navLink:hover
{
  transform: scale(0.95) ;
}

.navLine
{
  border-bottom: 3px solid rgb(40,45,60) ;
}

.lastLink
{
  border-top: 1.5px solid rgb(40,45,60) ;
  margin: 0px ;
  cursor: pointer ;
}

/* Footer */
footer 
{
  margin-top: auto ;
  min-height: 10vh ;
  background: rgb(40,45,60) ;
}

.footerP 
{
  color: var(--bs-gray-300) ;
  font-family: Oxygen, sans-serif ;
  font-size: 0.75em ;
  text-align: center ;
  padding-top: 5vh ;
}

/* Body */
body
{
  min-height: 100vh ;
  margin: 0% ;
  display: flex ;
  flex-direction: column ;
}

/* Main */
.mainMargin
{
  margin-top: 0.5vh !important ;
  margin-bottom: 0.5vh !important ;
}

.heading 
{
  text-align: center ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 2.25em ;
}

.alertP 
{
  font-weight: bold ;
  text-align: center ;
  font-family: Oxygen, sans-serif ;
  font-size: 1em ;
}

.textInput 
{
  font-size: 1em ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
}

.mainBtn 
{
  font-weight: bold ;
  font-family: Oxygen, sans-serif ;
  font-size: 1em ;
  background: rgb(40,45,60) ;
  width: 150px ;
  height: 45px ;
  border-style: none ;
  border-radius: 10px ;
  color: var(--bs-gray-100) ;

  transition: all ;
  transition-duration: 350ms ;
  transition-timing-function: ease ;
}

.mainBtn:hover
{
  background: rgb(250,150,30) ;
  transform: scale(1.05) ;
  outline: none ;
}

.mainBtn:focus
{
  outline: none ;
}

.mainBtn:active
{
  background: rgb(40,45,60) ;
  box-shadow: 2.5px 2.5px rgb(40,45,60) ;
  transform: scale(0.95) ;
}

.scaler
{
  transition: all ;
  transition-duration: 350ms ;
  transition-timing-function: ease ;
}

.scaler:hover
{
  transform: scale(1.05) ;
}

.scaler:active
{
  transform: scale(0.95) ;
}

/* Defaults */
p
{
  cursor: default ;
}

h1
{
  cursor: default ;
}

h2
{
  cursor: default ;
}

span
{
  cursor: default ;
}

a
{
  color: inherit ;
  text-decoration: none ;
}

a:hover
{
  color: inherit ;
}

.bold
{
  font-weight: bold ;
}

.hoverBold:hover
{
  font-weight: bold ;
}

.displayNone
{
  display: none ;
}

.blueColor
{
  color: rgb(40,45,60) !important ;
}

.marginTB 
{
  margin-top: 0.5rem !important ;
  margin-bottom: 0.5rem !important ;
}

.padTB 
{
  padding-top: 0.5vh !important ;
  padding-bottom: 0.5vh !important ;
}

.width75
{
  width: 75% !important ;
}

.width100
{
  width: 100% !important ;
}

.form-control:focus
{
  box-shadow: none ;
  border-color: rgb(40,45,60) ;
  box-shadow: 3px 3px rgb(40,45,60) ;
}

.form-select:focus
{
  box-shadow: none ;
  border-color: rgb(40,45,60) ;
  box-shadow: 3px 3px rgb(40,45,60) ;
}

.minHeight
{
  min-height: 70vh ;
}

.animationHeight1
{
  min-height: 90vh ;
}

.animationHeight2
{
  min-height: 77.5vh ;
}

.invisible
{
  visibility: hidden ;
}

/* Animation */
#Blue
{
  animation: toRight1 1.5s ease-in infinite ;
}

#Yellow
{
  animation: toRight2 1.5s ease-in infinite ;
}

#Red
{
  animation: toRight3 1.5s ease-in infinite ;
}

@keyframes toRight1
{
  0% { transform: translateX(0%) ; }
  40%, 60% { transform: translateX(10%) ; }
  100% { transform: translateX(0%) ; }
}

@keyframes toRight2
{
  0% { transform: translateX(10%) ; }
  25% { transform: translateX(0%) ; }
  50% { transform: translateX(10%) ; }
  75% { transform: translateX(0%) ; }
  100% { transform: translateX(10%) ; }
}

@keyframes toRight3
{
  0% { transform: translateX(10%) ; }
  40%, 60% { transform: translateX(0%) ; }
  100% { transform: translateX(10%) ; }
}

/* 404 */
.notFoundH1 
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 10em ;
  text-align: center ;
  color: rgb(250,150,30) ;
}

.notFoundH2 
{
  font-size: 3em ;
  font-weight: bold ;
  text-align: center ;
  font-family: Oxygen, sans-serif ;
  color: rgb(40,45,60) ;
}

/* Log In */
.loginContainer 
{
  min-height: 90vh ;
  background: rgb(250,150,30) ;
}

.loginDiv 
{
  background: rgb(255,255,255) ;
  height: 30rem ;
  width: 22.5rem ;
  border-radius: 10px ;
  border-style: none ;
}

.loginImg 
{
  width: 100% ;
}

.loginInput
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 1em ;
  margin-top: 1rem ;
  margin-bottom: 1rem ;
  color: var(--bs-gray-800) !important ;
}

.loginInput:focus
{
  border-color: rgb(250,150,30) ;
  box-shadow: 2.25px 2.25px rgb(250,150,30) ;
}

.loginBtn 
{
  width: 100% ;
  height: 40px ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 0.95em ;
  background: rgb(250,150,30) ;
  border-radius: 10px ;
  color: rgb(255,255,255) ;
  border-style: none ;

  transition: all ;
  transition-duration: 300ms ;
  transition-timing-function: ease ;
}

.loginBtn:focus
{
  outline: none ;
}

.loginBtn:hover
{
  background: rgb(40,45,60) ;
  transform: scale(1.03) ;
  outline: none ;
}

.loginBtn:active
{
  background: rgb(250,150,30) ;
  box-shadow: 1.5px 1.5px rgb(250,150,30) ;
  transform: scale(0.97) ;
}

.loginError
{
  text-align: center ;
  font-family: Oxygen, sans-serif ;
  font-size: 0.9em ;
  font-weight: bold ;
  color: rgb(190,30,45) ;
  margin: 0px ;
}

/* Dashboard */
.dashboardH1 
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 2.5em ;
  color: var(--bs-gray-100) ;
  margin-top: 0.5rem ;
  margin-bottom: 0.5rem ;
}

.dashboardH2 
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 1.5em ;
  color: var(--bs-gray-100) ;
}

.dashboardImage 
{
  min-width: 275px ;
  max-width: 275px ;
  min-height: 275px ;
  max-height: 275px ;
  border-radius: 30px ;
  background: var(--bs-gray-100) ;
  border: 2.25px solid rgb(40,45,60) ;
  margin: 0.5rem ;

  transition: all ;
  transition-duration: 350ms ;
  transition-timing-function: ease ;
}

.dashboardImage:hover
{
  border-color: rgb(40,45,60) ;
  box-shadow: 3px 3px rgb(40,45,60) ;
  transform: scale(1.03) ;
}

.dashboardImage:active
{
  transform: scale(0.97) ;
}

.dashboardContainer 
{
  min-height: 77.5vh ;
  background: rgb(250,150,30) ;
}